.zones {
    width: 82%;
    margin: 0% 9%;
}

.zone {
    max-width: 100%;
    height: 300px;
    background: black;
    margin-top: 10px;
}

.zoneHead {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 10px;
}

.zoneContent {
    text-align: justify;
    padding: 0% 10%;
    color: white;
    font-size: 18px;
    height: 150px;
}

.zoneButton {
    text-align: right;
    padding: 0% 10%;
}

.zoneButton button {
    width: 200px;
}

.zone .card-body, .completed .btn {
    width: 100%;
}

.zone .card-title {
    position: relative;
    width: 80%;
}

.zone .card-text {
    position: relative;
    width: 100%;
}

.zone a {
    position: relative;
    width: 20%;
}

.zone .completed, .zone .locked {
    display: inline-flex;
}

.locked .btn {
    width: 20%;
}