#start_page {
    background: black;
    text-align: center;
    color: #eceded;
}

#loginOptions {
    width: 200px;
    height: 130px;
    margin: auto;
}

.mainpage h1 {
    padding: 30px;
    padding-bottom: 5px;
}

.loginButtons {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

#or {
    font-size: 20px;
    text-align: center;
    height: 30px;
}

.stepTile {
    width: 400px;
    background: black;
}

#steps {
    display: inline-flex;
}